<!DOCTYPE html>
<html>
  <head>
    <title>WebCampBackendNew</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <%= @books.each do |book| %>
      <h1>Books</h1>
      <table>
      <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
　　  </tr>
　　  <tr>
　　  <td><%= list.title %></td>
　　  <td><%= list.body %></td>
　　  <td><%= link_to "show", book_path(@book.id) %></td>
　　  <td><%= link_to "edit", edit_book_path(@book.id)</td>
　　  <td><%= link_to "destroy", </td>
　　  </tr>
</table>
      
      <h2>New Book</h2>
      <!-- form_with部分 -->
      <%= form_with model: Book.new,url:books_path, method: :post do |f| %>
      <div class="title">
        Title<br>
        <%= f.text_field :title %>
      </div>
      <div class="body">
         Body<br>
         <%= f.text_area :body %>
      </div>
      <div class="submit">
         <%= f.submit 'Create Book' %>
      </div>
      <% end %>
  </body>
  </html>